Package: com.dvntm.silentnotifs
Name: SilentNotifs
Version: 0.0.1
Architecture: iphoneos-arm
Description: Keep notifications silent while media is playing
Maintainer: dvntm
Author: dvntm
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
